.item{
    width: 350px;
}

.item p{
    margin: 6px 0px;
}

.submit{
    display: flex;
}
button{
    width: 80px;
    margin-left: 90px;
    background-color: rgb(116, 215, 197);
    border: none;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
}