.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    height: auto;

}

.plan h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.plan hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: rgb(42, 3, 3);
}

.plan-img img{
     width: 99.99vw;
     opacity: 80%;
     background-color: black;
     z-index: -1;
}
.plan-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-img .card{
    background-color: whitesmoke;
    border: 2px;
    z-index: 999;
    border-radius: 5%;
    position: absolute;
    height: 90%; 
  width: 40%;
  opacity: 91%;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}