.offers{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #90afd1, #b3c2c0 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.custom{
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.custom_left {
    height: 90%;
    width: 45%;
    border: 2px solid black;
}

.custom_right{
    height: 90%;
    width: 45%;
    border: 2px solid black;
}